body {
    font-family: 'Manrope', 'Roboto', sans-serif;
}

header,
footer {
    min-height: 15vh;
}

section {
    min-height: 70vh;
}


section h1 {
    color: #1d3557;
    text-align: center !important;
    font-size: 2.5em;
    margin: 2% auto;
}

section h2 {
    color: #1d3557;
    text-align: center !important;
    font-size: 1.5em;
    margin: 2% auto;
}

section .col-md-4,
section .col-md-2,
section .col-md-11 {
    color: #1d3557;
    font-weight: bold;
}

section button {
    width: 100%;
    margin-top: 2% !important;
    background-color: #457b9d !important;
    border-color: #457b9d !important;
    color: #f1faee !important;
}

section button:hover {
    background-color: #1d3557 !important;
    border-color: #1d3557 !important;
}

section .btn-close {
    background-color: white !important;
}

section .btn-close:hover {
    background-color: white !important;
    border-color: white !important;
}

.pay-buttons {
    margin-bottom: 5%;
}

section .row {
    margin-bottom: 1%;
}

section svg {
    width: 80px;
}

section .pay-btn a {
    text-decoration: none;
    color: #f1faee;
}

section .modal .col-md-5 {
    margin-bottom: 5%;
}

@media (max-width: 767px) {

    #credit-card .alert,
    #paypal .alert {
        width: 100%;
    }
}

@media (max-width: 1200px) {

    .modal button {
        width: 90%;
    }
}