body {
    font-family: 'Manrope', 'Roboto', sans-serif;
}

header, footer {
    min-height: 15vh;
}

section {
    min-height: 70vh;
}


body {
    font-family: 'Manrope', 'Roboto', sans-serif;
    background-image: url(../img/slideshow5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#alerts {
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    max-width: 900px;
    padding-top: 15%;
    padding-bottom: 15%;
}

section a {
    text-decoration: none;
}

@media (max-width: 767px) {
    #alerts {
        width: 90% !important;
        font-size: 1.0em;
    }

    body {
        background-color: #457b9d !important;
        background-image: none !important;
    }

}

