body {
    font-family: 'Manrope', 'Roboto', sans-serif;
    background-image: url(../img/forgot_pswd_bg.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer {
  min-height: 15vh;
}

section {
  min-height: 70vh;
}


section h1 {
  font-size: 1.5em !important;
  margin-bottom: 5% !important;
  color: #457b9d !important;
}

section {
	margin-bottom: 15%;   
}

#key_icon {
  transform: rotate(35deg);
}

#desc {
  font-size: 1.2em !important;
  color: #990000 !important;
}

#logo {
    width: auto;
    height: 130px;
    padding-bottom: 1.5em;
}

#mail {
  margin-bottom: 5%;
  width: 85%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#reset_btn {
  margin: 5% !important;
  background-color: #457b9d !important;
  border-color: #457b9d !important;
  font-weight: bold;
}

#reset_btn:hover {
  background-color: #1d3557 !important;
  border-color: #1d3557 !important;
}

section a {
  color: #1d3557 !important;
}


#create {
  margin: 3% !important;
}

#create_account {
  text-decoration: none;
}

#create_account:hover {
  text-decoration: underline;
}


.card-body {
    padding-bottom: 0% !important;
    margin-bottom: 0% !important;
    padding-top: 0% !important;
}
  
.card {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(25%);
    box-shadow: 4px 4px 10px 1px #000000;
    border-radius: 5% !important;
    padding-top: 10% !important;
}

.alert {
	margin: 0 auto;
	text-align: center;
	width: 85%;
}


@media (max-width: 1262px) {
    body {
        background-color: #457b9d !important;
        background-image: none !important;
    }
    
    section {
		margin-bottom: 40% !important;
	}
}

@media (max-width: 460px) {
	section {
		margin-bottom: 60% !important;
	}
}


@media (max-width: 334px) {
	section h1 {
  		font-size: 1.2em !important;
	}
}

@media (max-width: 420px) {
	#logo {
		height: 100px;
		width: auto;
	}
    
    section {
		margin-bottom: 70% !important;
	}
}
