body {
    font-family: 'Manrope', 'Roboto', sans-serif;
}

header, footer {
    min-height: 15vh;
}

section {
    min-height: 70vh;
}

section {
    padding-top: 3%;
    background-image: url(../img/profile_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

.hide {
    display: none !important;
}

section button {
    margin: 2% !important;
    background-color: #457b9d !important;
    border-color: #457b9d !important;
    color: #f1faee !important;
    font-weight: bold;
}

section button:hover {
    background-color: #1d3557 !important;
    border-color: #1d3557 !important;
}

section h1,
section h2 {
    color: #1d3557;
}

section h1 {
    text-align: center !important;
    font-size: 2.0em;
}

section h2 {
    font-size: 1.7em;
    margin-left: 3%;
}

section .col-md {
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

section label {
    color: #1d3557;
    font-size: 1.2em;
}

#prof_btn_tickets a {
    text-decoration: none;
    color: #f1faee;
}

#prof_btn_tickets a:hover {
    text-decoration: none;
}

@media (max-width: 575px) {
    section .col-md {
        margin-bottom: 1%;
        margin-left: 0%;
        margin-right: 0%;
    }

    section #prof-title h1 svg {
        display: none;
    }
}

@media (max-width: 1262px) {
    section {
        background-image: none !important;
    }
}